.header {
    padding-top: 24px;
    padding-left: 160px;

}

.header__head {
    height: 34px;
    left: 165px;
    top: 24px;
}

.header__logo {
    height: 30px;
}

.header__title-wrap {
    
}

.header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px; 
    color: #212429;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 469px;
    height: 37px;
    left: 165px;
    top: 200px;
}