.header {
    padding-top: 24px;
    padding-left: 160px;

}

.header__head {
}

.header__logo {
    height: 30px;
}

.header__title-wrap {
    
}

.header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px; 
    color: #212429;
}