.modal {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-background);
    box-sizing: border-box;
    padding: 40px 40px 47px 40px;
}

.modal__wrapper {
    background-color: var(--white);
    padding: 30px 40px 33px 40px;
    max-width: 428px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%,50%);
    border-radius: 8px;
}

.modal__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    color: var(--modal-title);
}

.modal__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    margin: 14px 0px 0px 0px;
    color: var(--grey-4);  
}

.modal__close {
    cursor: pointer;
    position: relative;
    left: 100%;
    top: -15px;
}