.histogram {
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 24px 24px 24px;
}

.histogram__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.histogram__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__href {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--histogram-blue);
}

.histogram__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 6px;
    padding-bottom: 40px;
}

.histogram__count {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    margin: 0px;
}

.histogram__graphic {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.histogram__graphic-element {
    flex-grow: 1;
    width: 9px;
    background: var(--histogram-blue);
}

.histogram__graphic-element-hight {
    height: 50px;
}

.histogram__graphic-element_midle {
    height: 35px;
}

.histogram__graphic-element_short {
    height: 10px;
}