.wrapper {
    padding-top: 200px;
    text-align: center;
}

.tooltip {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.tooltip__bubble {
    display: none;
    background: var(--blue-tooltip);
    /* Card Shadow */
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    padding: 13px 21px 13px 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Gray 2 */

    color: var(--grey-2);
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.tooltip__bubble::before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 6px solid var(--blue-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: rotateX(180deg) translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}