.footer {
    grid-area: Footer;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    padding-bottom: 136px;
}

@media screen and (max-width: 375px) {
    .footer {
        display: none;
    } 
}

.footer__body {
    max-width: 640px;
    text-align: center;
}

.footer__about {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--black);
}

.footer__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--black);
}